- var scripts  = []
- var examples = ['constants', 'example.module', 'example-templates', 'routes']
- var bowers   = []

- scripts.push('status-report.module')
- scripts.push('templates')
- scripts.push('directives/create.directive')
- scripts.push('directives/detail.directive')
- scripts.push('directives/past-reports.directive')
- scripts.push('directives/status-reports.directive')

- scripts.push('controllers/create.controller')
- scripts.push('controllers/detail.controller')
- scripts.push('controllers/past-reports.controller')
- scripts.push('controllers/status-reports.controller')

- bowers.push('zepto/zepto')
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-file-upload/dist/main')
- bowers.push('appirio-tech-ng-ui-components/dist/main')
- bowers.push('appirio-tech-ng-api-services/dist/main')
- bowers.push('angular-scroll/angular-scroll')
- bowers.push('moment/moment')


= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
