ul#example-nav
  li
    a(ui-sref="status-reports") status reports

  li
    a(ui-sref="create") create

  li
    a(ui-sref="copilot-status-report-details") detail

  li
    a(ui-sref="past-reports") past reports