@import "work/work-includes";

create-status-report {
  display: block;
  position: relative;

  label {
    font-weight: 400;
  }

  ul {
    li {
      margin-top: 15px;

      &:nth-child(odd) {
        margin-top: 30px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  button {
    &.plus {
      margin-left: 20px;
    }
  }

  .project-links {
    display: inline-block;

    ul {
      padding: 10px 0 0 10px;
    }

    li {
      margin-top: 10px;
    }

    button {
      text-transform: lowercase;
    }
  }
}
