@import "work-includes";

create-status-report {
  display: block;
  position: relative;

  ul {
    li {
      margin-top: $margin-small;

      &:nth-child(odd) {
        margin-top: $margin;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  button {
    margin-top: $margin;

    &.plus {
      margin-left: $margin-smallest;
    }
  }

  .project-links {
    display: inline-block;

    ul {
      margin: $margin-small 0 0 $margin-small;
    }

    li {
      margin-top: $margin-smallest;
    }

    button {
      text-transform: lowercase;
    }
  }
}
