@import "work-includes";

detail-status-report {
  display   : block;
  position  : relative;

  .message, .links, .files {
    margin-top: $margin;
  }

  .links {
    li {
      margin-top: $margin-smallest;
    }
  }

  .files {
    li {
      margin: 0 $margin-small $margin-small 0;
    }

    a {
      display : inline-block;
      width   : 160px;
      height  : 120px;
      overflow: hidden;
    }

    img {
      width: 160px;
    }
  }
}
