loader

form
  ul
    li
      label project status

    li
      select.wide
        option(value="") project status

    li
      label status message

    li
      textarea.wider(placeholder="Status message")

    li
      label project links

    li
      input.wider(type="text" placeholder="http://www.example.com")

    li
      label project images

    li (WIP file upload goes here)

    li
      button.action post status to timeline
