loader(ng-show="false")

form
  ul
    li
      label project status

    li
      label status message

    li
      textarea.widest(placeholder="Status message" ng-model="vm.statusReport.text")

    li
      label project links

    li.project-links
      .flex.middle
        input.wider(type="url" placeholder="http://www.example.com" ng-model="vm.currentLink")

        button.clean.plus(ng-click="vm.addLink()")
          .icon.plus.hollow

      ul
        li.flex.middle.space-between(ng-repeat="link in vm.statusReport.links track by $index")
          p.link {{link.url}}

          button.clean(ng-click="vm.removeLink(link)") remove

    li
      label project images

      ap-uploader(
        config="vm.uploaderConfig"
        uploading="vm.uploaderUploading"
        has-errors="vm.uploaderHasErrors"
        has-files="vm.uploaderHasFiles"
      )

    li
      button.action(ng-click="vm.create()") post status to timeline
