loader(ng-show="false")

form
  ul.create-report
    li
      label status update

    li
      textarea.widest(placeholder="Please provide a short status update to the customer. Be sure to describe  the progress, mention issues, and respond to any prior customer questions." ng-model="vm.statusReport.text")

    li
      label Links to demos and code

    li.project-links
      .flex.middle
        input.wider(type="url" placeholder="http://www.example.com" ng-model="vm.currentLink")

        button.clean.plus(ng-click="vm.addLink()")
          .icon.plus.hollow

      ul
        li.flex.middle.space-between(ng-repeat="link in vm.statusReport.links track by $index")
          p.link {{link.url}}

          button.clean(ng-click="vm.removeLink(link)") remove

    li
      label Screenshots and documents

    li.upload-files
      ap-uploader(
        config="vm.uploaderConfig"
        uploading="vm.uploaderUploading"
        has-errors="vm.uploaderHasErrors"
        has-files="vm.uploaderHasFiles"
      )

    li
      button.action(ng-click="vm.create()") send to customer
