loader(ng-show="false")

form
  ul
    li
      label project status

    li
      label status message

    li
      textarea.widest(placeholder="Status message")

    li
      label project links

    li.project-links
      .flex.middle
        input.wider(type="text" placeholder="http://www.example.com")

        button.clean.plus
          .icon.plus.hollow

      ul
        li.flex.middle.space-between
          p.link http://www.example.com

          button.clean remove

        li.flex.middle.space-between
          p.link http://www.example.com

          button.clean remove

    li
      label project images

    li (WIP file upload goes here)

    li
      button.action post status to timeline
