loader(ng-show="false")

h2 This ia ver very very very long title

time 2 Days ago

p.message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

ul.links
  li
    a(href="http://www.example.com") http://www.example.com

  li
    a(href="http://www.example.com") http://www.example.com

ul.files.flex.wrap
  li(ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9]" fitted-width=true)
    a(href="http://www.example.com")
      img(src="http://clipartzebraz.com/test_im.php?pic=/cliparts/square-clipart/cliparti1_square-clipart_05.jpg")
