loader(ng-show="false")

h3 {{vm.report.createdAt | date:'MMMM d yyyy'}} status report

hr.biggest

time {{vm.report.createdAt | timeLapse }}

p.message {{vm.report.text}}

ul.links
  li(ng-repeat="link in vm.report.links")
    a(href="{{link.url}}") {{link.url}}

ul.files.flex.wrap
  li(ng-repeat="image in vm.report.images")
    a(href="{{image.preSignedURL}}")
      img(src="{{image.preSignedURL}}")
