loader(ng-show="false")

ul.links
  li.flex.middle(ng-repeat="report in vm.pastReports track by $index")
    .bullet

    button.clean
      a(ui-sref="status-report-detail({id: report.id})") {{report.createdAt | date:'MMMM d yyyy' }}

